/* Base container style */
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* Styling for the large circular gradient background */
.container:before {
    content: '';
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
    background: linear-gradient(
            103deg,
            rgba(0, 210, 255, 1) 0%,
            rgba(146, 141, 171, 1) 100%
    );
}

/* Container for forms */
.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Styling for sign-in and sign-up sections */
.signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

/* Default styles for forms */
.sign-up-form, .sign-in-form {
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
    opacity: 0;
    z-index: 1;
}

/* Visible form styles */
.sign-in-form {
    display: block;
    opacity: 1;
    z-index: 2;
}

/* Toggle styles for sign-up mode */
.container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign-up-mode .signin-signup {
    left: 25%;
}

.container.sign-up-mode .sign-up-form {
    display: block;
    opacity: 1;
    z-index: 2;
}

.container.sign-up-mode .sign-in-form {
    display: none;
    opacity: 0;
    z-index: 1;
}

/* Responsive styles for smaller screens */
@media (max-width: 870px) {
    .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        transition: 2s ease-in-out;
    }

    .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
        left: 50%;
    }

    .container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
    }

    .container.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .container:before {
        bottom: 72%;
        left: 50%;
    }

    .container.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}
